<h2>Create a new message</h2>

<%=
  form_for :message, '/messages' do
    div class: 'input' do
      label      :text
      text_field :text
    end

    div class: 'input' do
      label      :visits_remains
      text_field :visits_remains
    end

    div class: 'input' do
      label      :time_remains
      text_field :time_remains
    end

    div class: 'controls' do
      submit 'Create Message'
    end
  end
%>
