<h2>Create a new message</h2>

<%=
  form_for :message, '/messages' do
    div class: 'form-group' do
      text_area :text, id: 'text_input', class: 'form-control', placeholder: 'Please enter your message here', rows: '4', required: true

    end

    div class: 'form-group' do
      accordion_options
    end

    div class: 'controls' do
      submit 'Create Message', class: 'btn btn-primary'
    end
  end
%>
