<h3>Your Message:</h3>
<div class="jumbotron">
  <% unless message.nil? %>
    <div id="message">
        <div class="message">
          <p><%= message_decrypted_text %></p>
          <p><%= message_destruction_info %></p>
          <p><%= link_to 'Link to this message', message_private_link %></p>
        </div>
    </div>
  <% else %>
    <p class="placeholder">Sorry.. It seems this message has been destroyed!</p>
  <% end %>
</div>
