<h2>Your Secret-Self-Destruct Message</h2>

<% unless message.nil? %>
  <div id="message">
      <div class="message">
        <h2><%= message_decrypted_text %></h2>
        <p><%= message_destruction_info %></p>
        <p><%= link_to 'Link to this message', private_link %></p>
      </div>
  </div>
<% else %>
  <p class="placeholder">Nothing is here... This message has been destroyed or never existed</p>
<% end %>
